:root {
    --primary-black: rgba(0, 0, 0, 0.8);
    --secondary-black: rgba(70, 70, 70, 1);
    --primary-green: rgb(73, 207, 55);
    --light-green: rgb(219, 231, 218);;
    --dark-green: rgb(76, 150, 67);
    --light-silver: rgb(223,218,218);
    --white: #FFF;
    --error-red: rgb(158, 75, 75);
}


h1 {
    height: 10vh;
    font-weight: 800;
    font-size: 4rem;
    background-color: var(--light-silver);
    color: var(--white);
    padding-left: 2rem;
    padding-top: 2rem;
}
.registration {
    padding-left: 2rem;
    padding-top: 2rem;
}
.registration__header {
    font-size: 2.5rem;
}
.errorlist, .info-text, .helptext {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    padding-top: 1rem;
    color: var(--primary-black);
}

.errorlist > li {
    color: var(--error-red);
}

form {
    margin-top: 3rem;
}
form > ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}
form > ul > li {
    list-style-type: none;
    color: var(--primary-black);
}
form > p {
    padding-top: 3rem;
}
form > p > label {
    font-size: 2.5rem;
}

#id_username, #id_password1 , #id_password2 {
    display: block;
    width: 35vw;
    height: 6rem;
    border: 2px solid var(--light-silver);
    border-bottom: 4px solid var(--light-silver);
    background-color: var(--white);
    font-size: 2rem;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login-btn {
    height: 6rem;
    color: var(--white);
    background-color: var(--primary-green);
    width: 25vw;
    font-size: 3rem;
    border: 1px solid var(--primary-green);
    border-radius: 0.8rem/0.8rem ;
}