env/
.vscode/
*.sqlite3

elearning/__pycache__/
courses/__pycache__/
courses/migrations/__pycache__/
courses/templatetags/__pycache__/

students/__pycache__/
students/migrations/__pycache__/
students/templatetags/__pycache__/
