env/
.vscode/
*.sqlite3
geckodriver.log
TODO

elearning/__pycache__/
elearning/settings/prod.py
courses/__pycache__/
courses/migrations/__pycache__/
courses/templatetags/__pycache__/
courses/tests/__pycache__/

students/__pycache__/
students/migrations/__pycache__/
students/templatetags/__pycache__/
