:root {
    --primary-green: rgb(73, 207, 55);
    --light-green: rgb(219, 231, 218);;
    --dark-green: rgb(76, 150, 67);
    --light-silver: rgb(223,218,218);
    --white: #FFF;
}

h1 {
    height: 10vh;
    font-weight: 800;
    font-size: 4rem;
    background-color: var(--light-silver);
    color: var(--white);
    padding-left: 2rem;
    padding-top: 2rem;
}

.module {
    padding: 2rem;
    font-size: 2.5rem;
}

[id$="-title"], [id$="-description"], [id$="-DELETE"] {
    display: block;
}
[id$="-title"], [id$="-description"] {
    width: 35vw;
    height: 6rem;
    border: 2px solid var(--light-silver);
    border-bottom: 4px solid var(--light-silver);
    background-color: var(--white);
    font-size: 2rem;
    padding: 0.5rem;
}
[id$="-description"] {
    width: 35vw;
    height: 15vh;
}
[id$="-DELETE"] {
    margin-bottom: 3rem;
    width: 2rem;
    height: 2rem;
}

form {
    margin: 2rem 0 2rem 0;
}

.button {
    display: block;
    height: 6rem;
    color: var(--white);
    background-color: var(--primary-green);
    width: 25vw;
    font-size: 3rem;
    border: 1px solid var(--primary-green);
    border-radius: 0.8rem/0.8rem ;
    margin-top: 3rem;
}
.button:hover {
    color: var(--primary-green);
    background-color: var(--white);
}