{% extends "base.html" %}
{% load static %}

{% block title %}Delete course{% endblock %}

{% block extras-styles %}
<link href="{% static 'css/courses/delete.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Delete course "{{ object.title }}"</h1>
<div class="module">
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <button type="submit" class="button">Confirm</button>
    </form>
</div>
{% endblock %}